.button {
  color: var(--color-button-text-primary);
  background-color: var(--color-button-bg-primary);
  border: var(--border-width-default) var(--border-style-default) var(--color-accent);
  border-radius: var(--border-radius-default);
  text-transform: uppercase;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.buttonSecondary {
  color: var(--color-button-text-secondary);
  background-color: var(--color-button-bg-secondary);
}