.formContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.form {
  width: 100%;
  max-width: 284px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.formButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.formSubmit {
  width: 70%;
}