.header {}

.headerTitle {
  text-align: center;
}

.main {
  min-height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainContent {
  padding: 16px;
  width: 100%;
  max-width: 284px;
}